version: '3.4'

networks:
  internal:
    driver: bridge

volumes:
  iotomatoes_supportpackage:
    name: iotomatoes_supportpackage
    driver: local
    driver_opts:
      type: none
      device: /home/matte/Desktop/PoliTO/ProgrammingIOT/IoTomatoes/IoTomatoes_SupportPackage/src/iotomatoes_supportpackage/
      o: bind

services:
  mosquitto:
    image: eclipse-mosquitto:2
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    ports:
      - 1883:1883
      - 9001:9001
    networks:
      - internal

  load_balancer:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./index/:/var/www/data/:ro
    ports:
      - "8080:80"
    networks:
      - internal

  service_catalog:
    image: service_catalog
    build:
      context: .
      dockerfile: ./ServiceCatalog/Dockerfile
    depends_on:
      - load_balancer
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  resource_catalog:
    image: resource_catalog
    build:
      context: .
      dockerfile: ./ResourceCatalog/Dockerfile
    depends_on:
      - service_catalog
      - mosquitto
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage
    networks:
      - internal

  telegram_bot:
    image: telegram_bot
    build:
      context: .
      dockerfile: ./TelegramBot/Dockerfile
    depends_on:
      - resource_catalog
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage
    networks:
      - internal

  mongodb_connector:
    image: mongodb_connector
    build:
      context: .
      dockerfile: ./MongoDBConnector/Dockerfile
    depends_on:
      - resource_catalog
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  weather_forecast:
    image: weather_forecast
    build:
      context: .
      dockerfile: ./WeatherForecast/Dockerfile
    depends_on:
      - resource_catalog
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  smart_irrigation:
    image: smart_irrigation
    build:
      context: .
      dockerfile: ./SmartIrrigation/Dockerfile
    depends_on:
      - mongodb_connector
      - weather_forecast
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  smart_lighting:
    image: smart_lighting
    build:
      context: .
      dockerfile: ./SmartLighting/Dockerfile
    depends_on:
      - mongodb_connector
      - weather_forecast
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  fault_detection:
    image: fault_detection
    build:
      context: .
      dockerfile: ./FaultDetection/Dockerfile
    depends_on:
      - resource_catalog
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  consumption_manager:
    image: consumption_manager
    build:
      context: .
      dockerfile: ./ConsumptionManager/Dockerfile
    depends_on:
      - resource_catalog
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  localization:
    image: localization
    build:
      context: .
      dockerfile: ./Localization/Dockerfile
    depends_on:
      - resource_catalog
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage

  data_visualizer:
    image: data_visualizer
    build:
      context: .
      dockerfile: ./DataVisualizer/Dockerfile
    depends_on:
      - mongodb_connector
    networks:
      - internal
    volumes:
      - iotomatoes_supportpackage:/app/iotomatoes_supportpackage